<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="WildfireAnalysisAndPredictionSystem.test2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tree_foreground"
        android:label="Wildfire System"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test2">

        <activity
            android:name=".AboutUsActivity"
            android:exported="true" />
        <activity
            android:name=".BottomMenuActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_menu" />
        <activity
            android:name=".SettingsPageActivity"
            android:exported="true"
            android:label="" />
        <activity
            android:name=".GuidePageActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpPageActivity"
            android:exported="true" />
        <activity
            android:name=".SignInPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopUsername"
            android:theme="@style/Theme.Test2.CustomTheme" />
        <activity
            android:name=".PopPassword"
            android:theme="@style/Theme.Test2.CustomTheme" />
        <activity
            android:name=".PopEmail"
            android:theme="@style/Theme.Test2.CustomTheme" />
        <activity
            android:name=".PopDeleteAccount"
            android:theme="@style/Theme.Test2.CustomTheme" />

    </application>

</manifest>