<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="WildfireAnalysisAndPredictionSystem.test2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tree_foreground"
        android:label="Wildfire System Fragment"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test2">
        <activity
            android:name=".BottomMenuActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_menu" />
        <activity
            android:name=".NavDrawer"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".SettingsPageActivity"
            android:label=""
            android:exported="true" />
        <activity
            android:name=".GuidePageActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpPageActivity"
            android:exported="true" />
        <activity
            android:name=".SignInPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pop"
            android:theme="@style/Theme.Test2.CustomTheme">
        </activity>
    </application>

</manifest>